scope: pgcluster
namespace: /db  # Исправлено
name: {{ inventory_hostname }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ host_ip }}:8008

etcd3:
  hosts: [{{ etcd_ip }}:2379]  # Исправлено (host -> hosts)
  protocol: http
  api_version: 3

log:
  level: DEBUG

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ host_ip }}:5432
  data_dir: /var/lib/postgresql/17/main
  bin_dir: /usr/lib/postgresql/17/bin
  authentication:
    replication:
      username: replication
      password: replication
    superuser:
      username: postgres
      password: postgres
  parameters:
    unix_socket_directories: '/var/run/postgresql'
  pg_hba:
  {% for hba_unit in hba_units %}
- {{ hba_unit }}
  {% endfor %}


tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
